.event_container {
    border: 1px solid black;
    width: 80%;
    margin: auto;
}

.events_container {
    border: 1px solid black;
    width: 80%;
    margin: auto;
    overflow-y: scroll;
    height:80vh;
}