/*Colors:
#272643 - text, borders, anything dark (darkest)
#f8f8ff - off-white
#f7fdfc - background, (lightest)
#ebfaf7 - components sitting on background can use this
#d6f5ef - slightly darker / bluer than above
#8bbdda - used for homepage: Up Next
#2c698d - middle color, currently used for nav
*/

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ebfaf7;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
