/*Colors:
#272643 - text, borders, anything dark (darkest)
#f7fdfc - background, (lightest)
#ebfaf7 - components sitting on background can use this
#c2f0f0 - slightly darker / bluer than above
#2c698d - middle color, currently used for nav
*/

.body, html {
    margin: 0;
    padding: 0;
    border: none;
    background-color: #f7fdfc;
}